/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2019, 11:30:40 PM
    Author     : angelis
*/

/*.theNavigator{
    background-image: url(resources/images/total.jpg);
    width:1366px;
    height: 359px;
    
}*/